@media only screen and (min-width: 412px) and (max-width: 600px) {
    .st-input-search {
        margin-top: -9px !important;
        margin-bottom: 10px;
        width: -webkit-fill-available;
    }
    .table-search form {
        max-width: inherit !important;
        position: relative;
        width: 100%;
    }
    .on-mobile {
        display: block !important;
    }
    .off-mobile {
        display: none !important;
    }
    #grid {
        display: grid;
        /* height: 100px; */
        grid-template-columns: repeat(8, 1fr) !important;
        grid-template-rows: auto;
    }
    .sp-li{
        padding-left: 27px;
    }

}

.button-group-m {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #dedede;
    margin-top: 10px;
}
.button-group-m a.active, .button-group-m a:hover {
    background: #4a6cf7;
    color: #fff;
}
.button-group-m a {
    font-weight: 500;
    font-size: 12px;
    padding: 4px 16px;
    display: inline-block;
    color: #2f3546;
    border-radius: 50px;
    margin: 3px;
}

.on-mobile {
    display: none;
}

.st-input-search {
    margin-top: -35px;
    float: right;
}

.invoice-card .invoice-address {
    padding-top: 30px;
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.invoice-card .invoice-address {
    padding-top: 5px;
}

/** start tabs style **/
.tab-style-3 nav {
    margin-bottom: 20px;
}
.tab-style-2 nav {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.tab-style-2 nav button:hover,
.tab-style-2 nav button.active {
    color: #4a6cf7;
    background: rgba(74, 108, 247, 0.1);
}
.tab-style-2 nav button {
    border: none;
    background: transparent;
    margin-right: 20px;
    padding: 10px 14px;
    position: relative;
    font-weight: 500;
    color: #5d657b;
}
.deactive-btn {
    background: #cbe1ff;
    color: #4a6cf7;
}
.tab-style-3 nav button:hover,
.tab-style-3 nav button.active {
    color: #fff;
    background: #4a6cf7;
}
.tab-style-2 nav button:hover,
.tab-style-2 nav button.active {
    color: #4a6cf7;
    background: rgba(74, 108, 247, 0.1);
}
.tab-style-3 nav button {
    margin-right: 20px;
    padding: 10px 16px;
    position: relative;
    font-weight: 500;
    font-size: 16px;
}
.tab-style-3 .tab-content p {
    font-size: 14px;
}
.tab-content > .active {
    display: block;
}
.fade {
    transition: opacity 0.15s linear;
}

/** end tabs style **/

.single-pricing {
    background: #fff;
    -webkit-box-shadow: 0px 10px 35px rgb(210 210 210 / 17%);
    -moz-box-shadow: 0px 10px 35px rgba(210, 210, 210, 0.17);
    box-shadow: 0px 10px 35px rgb(210 210 210 / 17%);
    border-radius: 5px;
    padding: 55px 30px;
    text-align: center;
    position: relative;
}
.single-pricing.active {
    -webkit-transform: scale(1.05, 1);
    -moz-transform: scale(1.05, 1);
    -ms-transform: scale(1.05, 1);
    -o-transform: scale(1.05, 1);
    transform: scale(1.05, 1);
    z-index: 2;
    padding-top: 125px;
    padding-bottom: 65px;
}
.single-pricing.active .popular {
    position: absolute;
    left: 30px;
    top: 65px;
    padding: 5px 15px;
    border-radius: 30px;
    background: #4a6cf7;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.single-pricing .pricing-header h5 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}
.single-pricing .pricing-header h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}
.single-pricing .pricing-header .price {
    border-top: 1px solid rgba(93, 101, 123, 0.1);
    border-bottom: 1px solid rgba(93, 101, 123, 0.1);
    margin-bottom: 25px;
}
.single-pricing .pricing-header .price h1 {
    padding: 20px 0px;
}
.single-pricing .pricing-body ul {
    margin-bottom: 15px;
}
.single-pricing .pricing-body ul li {
    padding-bottom: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}
.single-pricing .pricing-header .price h1 span {
    color: #5d657b;
}

.bg-gray {
    background-color: #f7f7f7 !important;
}

/** sizes fields table */

.invoice-table .sm {
    min-width: 55px;
}

.invoice-table .md {
    min-width: 150px;
}

.invoice-table .lg {
    min-width: 200px;
}

.table .sm {
    min-width: 55px;
}

.table .md {
    min-width: 150px;
}

.table .lg {
    min-width: 200px;
}
/** end */

.invoice-card .invoice-header {
    display: block;
}

.py-3 {
    padding-bottom: 0rem !important;
}

.mb-30 {
    margin-bottom: 20px;
}

.card-style-3 {
    padding: 15px 3px;
    border: 0px solid #ffffff;
    box-shadow: 0px 0px 0px 0px;
}

.card-style-3:hover {
    padding: 15px 3px;
    border: 0px solid #ffffff;
    box-shadow: 0px 0px 0px 0px;
}

.activity-card .icon.purple {
    background: rgba(155, 81, 224, 0.1);
    color: #9b51e0;
    max-width: 46px;
    width: 100%;
    height: 46px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-right: 20px;
    font-weight: 700;
}

/** custom card grid view machines */

.bg-card-enabled {
    background-color: #4caf50;
}
.bg-card-maintenance {
    background-color: #03a9f4;
}
.bg-card-error {
    background-color: #f44336;
}
.bg-card-attention {
    background-color: #ffc107;
}
.bg-card-offline {
    background-color: #e0e0e0;
}
.bg-card-disabled {
    background-color: #9e9e9e;
}
.bg-card-attention-2 {
    background-color: #ff5722;
}

/** end */
/** custom button list view machines */

.btn-custom-enabled {
    background-color: #4caf50;
}
.btn-custom-maintenance {
    background-color: #03a9f4;
}
.btn-custom-error {
    background-color: #f44336;
}
.btn-custom-attention {
    background-color: #ffc107;
}
.btn-custom-offline {
    background-color: #e0e0e0;
}
.btn-custom-disabled {
    background-color: #9e9e9e;
}

.text-custom-enabled {
    color: #4caf50;
}
.text-custom-offline {
    color: #e0e0e0;
}
.text-custom-disabled {
    color: #9e9e9e;
}

/** end */

.btn-group-status {
    background-color: transparent;
    border: 0px;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    color: #2f3546;
}

.btn-group-status:hover {
    background-color: transparent;
    border: 0px;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    color: #efefef;
}

.activity-card .button-group {
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid #efefef;
}

.activity-card .button-group a.active,
.activity-card .button-group a:hover {
    background: #4a6cf7;
    color: #fff;
}

.activity-card .button-group a {
    font-weight: 500;
    font-size: 12px;
    padding: 4px 16px;
    display: inline-block;
    color: #2f3546;
    border-radius: 50px;
    margin: 3px;
}

#grid {
    display: grid;
    /* height: 100px; */
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
}

#item.success-bg:hover {
    background-color: #4dc480;
}

#item.danger-bg:hover {
    background-color: #ed6969;
}

#item.warning-bg:hover {
    background-color: #f3cd59;
}

#item.dark-bg:hover {
    background-color: #454b5e;
}

#item.primary-bg:hover {
    background-color: #7c9aff;
}

#item.gray-bg-custom:hover {
    background-color: #817e7e;
}

#item {
    height: 45px;
    border: 1px solid #eaeaea;
    margin-right: 1px;
    text-align: center;
    margin-bottom: 1px;
}

.icon-card-grid {
    display: inline-flex;
    align-items: center;
    padding: 12px 12px;
    border: 1px solid #e2e8f0;
    box-shadow: 0px 10px 20px rgb(200 208 216 / 30%);
    border-radius: 10px;
    margin-bottom: 2px;
}

.hthtg {
    max-width: 45px;
    width: 141%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: transparent;
    color: #686868;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.tooltip-inner {
    background-color: #e8f1fe !important;
    color: #262d3f !important;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 25px;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #00acd6;
}

.table-pagination ul li a {
    width: 32px;
    height: 32px;
    background: #e5e5e5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}
.table-pagination ul li a:hover,
.table-pagination ul li a.active {
    background: #4a6cf7;
    color: #fff;
}

.table-search form {
    max-width: 270px;
    position: relative;
}
.table-search form input {
    width: 100%;
    border: 1px solid #efefef;
    background: rgba(239, 239, 239, 0.5);
    border-radius: 4px;
    height: 46px;
    padding-left: 44px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.table-search form input:focus {
    border-color: #4a6cf7;
}
.table-search form button {
    position: absolute;
    border: none;
    background: transparent;
    left: 16px;
    top: 0;
    height: 46px;
    color: #5d657b;
}

.striped-table td,
.striped-table th {
    padding-left: 5px;
    padding-right: 5px;
}

.dataTable-pagination li:hover a,
.dataTable-pagination .active a,
.dataTable-pagination .active a:focus,
.dataTable-pagination .active a:hover {
    background: #4a6cf7;
    color: #fff;
}

.dataTable-pagination .ellipsis:hover a {
    background: transparent;
    color: #333;
}

.dataTable-input:focus {
    border-color: #4a6cf7;
}

.toast-warning {
    color: #f2994a;
    border: 1px solid #f2994a;
    background: rgb(249 249 249);
}

.toast-success {
    color: #4a6cf7;
    border: 1px solid #4a6cf7;
    background: rgba(74, 108, 247, 0.2);
}

.toast-error {
    color: #d50100;
    border: 1px solid #d50100;
    background: rgba(213, 1, 0, 0.2);
}

.toast-header {
    display: block;
    align-items: center;
    padding: 0.5rem 0.75rem;
    color: #6c757d;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.chat-list-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #efefef;
    padding: 20px 0;
}
.chat-list-item .image {
    max-width: 35px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}
.chat-list-item .image img {
    width: 100%;
    border-radius: 50%;
}
.chat-list-item .image .status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #5d657b;
}
.chat-list-item .image .status.active {
    background: #4a6cf7;
}
.chat-list-item p {
    color: #5d657b;
    line-height: 1.4;
}
.chat-list-item .content {
    width: 100%;
}
.chat-list-item .content .title {
    display: flex;
    justify-content: space-between;
}
.chat-list-item .content .title span {
    font-size: 14px;
    color: #5d657b;
}
.chat-list-item .content button {
    border: none;
    background: transparent;
    margin-left: 15px;
    font-size: 14px;
}

/* ============ profile css ============= */
.profile-wrapper {
    background: #fff;
    border-radius: 4px;
}
.profile-wrapper .profile-cover {
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    position: relative;
    height: 160px;
}
.profile-wrapper .profile-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile-wrapper .profile-cover .update-image {
    position: absolute;
    right: 30px;
    bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 1px 15px;
    display: inline-block;
    width: auto;
    color: #262d3f;
}
@media (max-width: 767px) {
    .profile-wrapper .profile-cover .update-image {
        right: 50%;
        bottom: 50%;
        -webkit-transform: translate(50%, 50%);
        -moz-transform: translate(50%, 50%);
        -ms-transform: translate(50%, 50%);
        -o-transform: translate(50%, 50%);
        transform: translate(50%, 50%);
        white-space: nowrap;
    }
}
.profile-wrapper .profile-cover .update-image input {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.profile-wrapper .profile-cover .update-image label i {
    margin-right: 10px;
}
.profile-wrapper .profile-photo {
    position: relative;
    margin-top: -80px;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 240px;
    width: 100%;
}
@media (max-width: 767px) {
    .profile-wrapper .profile-photo {
        margin-top: -50px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
.profile-wrapper .profile-photo .image {
    max-width: 170px;
    width: 100%;
    height: 170px;
    border-radius: 50%;
    position: relative;
    border: 6px solid #fff;
}
@media (max-width: 767px) {
    .profile-wrapper .profile-photo .image {
        max-width: 120px;
        height: 120px;
    }
}
.profile-wrapper .profile-photo .image img {
    width: 100%;
    border-radius: 50%;
}
.profile-wrapper .profile-photo .image .update-image {
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #efefef;
    color: #262d3f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-wrapper .profile-photo .image .update-image input {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.profile-wrapper .profiles-activities {
    padding-right: 40px;
}
@media (max-width: 767px) {
    .profile-wrapper .profiles-activities {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.profile-wrapper .profiles-activities .more-btn-wrapper button {
    border: none;
    background: none;
}
@media (max-width: 767px) {
    .profile-wrapper .profiles-activities .more-btn-wrapper button {
        display: none;
    }
}
.profile-wrapper .profiles-activities .more-btn-wrapper button::after {
    display: none;
}
.profile-wrapper .profile-info {
    margin: 30px;
    padding: 30px 0px;
    border-top: 1px solid #efefef;
}
@media (max-width: 767px) {
    .profile-wrapper .profile-info {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.profile-wrapper .profile-info p a:hover {
    color: #4a6cf7 !important;
}
.profile-wrapper .profile-info .socials {
    display: flex;
    align-items: center;
}
.profile-wrapper .profile-info .socials li a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(239, 239, 239, 0.5);
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    color: #5d657b;
    font-size: 16px;
    margin-right: 20px;
}
@media (max-width: 767px) {
    .profile-wrapper .profile-info .socials li a {
        margin-right: 10px;
    }
}
.profile-wrapper .profile-info .socials li a:hover {
    color: #fff;
    background: #4a6cf7;
    border-color: #4a6cf7;
}

.alert-box .alert {
    margin-bottom: 0px;
    padding: 10px 40px !important;
}

.tgtgt {
    background-image: linear-gradient(180deg, #2196f3 0%, #3f51b5 100%);
    margin-top: -25px;
    margin-left: -31px;
    padding: 10px;
    color: #fff;
}

.opcity {
    opacity: 30%;
}
