@media only screen and (min-width: 412px) and (max-width: 768px) {
    .registration-form form {
        background-color: #fff;
        width: 90%;
        margin: auto;
        padding: 15px 40px;
        box-shadow: 20px 20px 20px 0 rgb(0 0 0 / 25%);
        margin-top: -80vh !important;
        transform: translate(0) !important;
    }
    .off-mobile {
        display: none !important;
    }
    .registration-form .form-icon {
        width: auto;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
    .left {
        background: #ffcc02 !important;
        display: flex;
        place-items: center;
        justify-content: center;
        text-align: center;
        margin-left: -50vw;
        height: 100%;
        min-height: 100%;
    }
    .left-admin {
        background: #636363 !important;
        display: flex;
        place-items: center;
        justify-content: center;
        text-align: center;
        margin-left: -50vw;
        height: 100%;
        min-height: 100%;
    }
    .login-admin {
        background: #636363 !important;
        /* background:  linear-gradient(44deg, #663399, #663399, #6699ff, #6699ff); */
        background-size: 400% 400%;
        animation: Gradient 10s ease infinite;
        height: 100vh;
        margin: 0;
        font-family: "Roboto Condensed", sans-serif;
        /* margin-bottom: 120px; */
    }
}

.left {
    background: #e8f0ff;
    display: flex;
    place-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -50vw;
    height: 100%;
    min-height: 100%;
}

body {
    background: linear-gradient(44deg, #ffcc02, #ffcc02, #ffcc02, #ffcc02);
    /* background:  linear-gradient(44deg, #663399, #663399, #6699ff, #6699ff); */
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    height: 100vh;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    /* margin-bottom: 120px; */
}

body .login-admin {
    background: linear-gradient(44deg, #343333, #626262, #000000, #242421);
    /* background:  linear-gradient(44deg, #663399, #663399, #6699ff, #6699ff); */
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    height: 100vh;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    /* margin-bottom: 120px; */
}

.login-admin {
    background: linear-gradient(44deg, #343333, #626262, #6e6e6e, #5a5a5a);
}

.rwedrt {
    text-align: center;
    position: relative;
    z-index: 1;
}

.sdfdd {
    color: #3c3c3c;
    font-weight: 700;
}

.ththhf {
    width: 140px;
    height: 35px;
    border-radius: 5px;
    border: solid 2px #ffffff;
    background-color: transparent;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
    margin-left: 22px;
}

.ththhf:hover {
    width: 140px;
    height: 35px;
    border-radius: 5px;
    border: solid 2px #3f3f3f;
    background-color: #3f3f3f;
    color: #ffffff;
}

@media (min-width: 600px) {
    /*This should work for Normal desktops(15 to 18 inch) only.*/
    .login-texto {
        transform: translate(130px, -50%);
        position: absolute;
        top: 50%;
        /*right: 12vw !important;*/
    }

    .left {
        background: #e8f0ff;
        display: flex;
        place-items: center;
        justify-content: center;
        text-align: center;
        margin-left: -50vw;
        height: 100% !important;
    }

    .left-admin {
      background: #e8f0ff;
      display: flex;
      place-items: center;
      justify-content: center;
      text-align: center;
      margin-left: -50vw;
      height: 100% !important;
  }

    .registration-form form {
        background-color: #fff;
        max-width: 460px;
        margin: auto;
        padding: 15px 40px;
        box-shadow: 20px 20px 20px 0 rgb(0 0 0 / 25%);
        margin-top: -95vh !important;
        /*margin-left: 23vw !important;*/
        transform: translate(-145px, 0%);
    }

    .registration-form-2 form {
        background-color: #fff;
        max-width: 460px;
        margin: auto;
        padding: 15px 40px;
        box-shadow: 20px 20px 20px 0 rgb(0 0 0 / 25%);
        margin-top: -100vh !important;
        /*margin-left: 23vw !important;*/
        transform: translate(-145px, 0%);
    }

    .registration-form {
        position: relative !important;
        padding: 0;
        /*margin-top: 8vw;*/
        top: 48%;
        transform: translate(0, -50%);
    }

    .registration-form-2 {
        position: relative !important;
        padding: 0;
        top: 60%;
        transform: translate(0, -50%);
    }

    .register-texto {
        transform: translate(130px, -50%);
        position: absolute;
        top: 50%;
    }
}

/* Extra big screen devices (1920px and above) */
@media only screen and (min-width: 1920px) {
    .login-texto {
        transform: translate(0, -50%);
        position: absolute;
        top: 50%;
        right: 22vw !important;
    }

    .registration-form form {
        background-color: #fff;
        max-width: 460px;
        margin: auto;
        padding: 15px 40px;
        box-shadow: 20px 20px 20px 0 rgb(0 0 0 / 25%);
        /*margin-top: -90vh !important;*/
        /*margin-left: 30vw !important;*/
        transform: translate(-150px, -5%);
    }

    .registration-form-2 form {
        background-color: #fff;
        max-width: 460px;
        margin: auto;
        padding: 15px 40px;
        box-shadow: 20px 20px 20px 0 rgb(0 0 0 / 25%);
        margin-top: -100vh !important;
        /*margin-left: 23vw !important;*/
        transform: translate(-145px, 0%);
    }

    .registration-form {
        position: relative !important;
        padding: 0;
        transform: translate(0, -50%);
        top: 48%;
    }

    .registration-form-2 {
        position: relative !important;
        padding: 0;
        top: 48%;
        transform: translate(0, -50%);
    }

    .register-texto {
        transform: translate(130px, -50%);
        position: absolute;
        top: 50%;
    }
}

.login-message2 {
    margin-top: 23px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 26px;
    text-align: center;
    color: #1f394d;
}

.login-message {
    font-size: 47px;
    width: 390px;
    font-weight: bold;
    line-height: 1.33;
    text-align: left;
    color: #ffffff;
    font-family: sans-serif;
}

.login-title {
    font-size: 32px;
    font-weight: 100;
    line-height: 1.33;
    text-align: left;
    color: #ffffff;
    font-family: system-ui;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-size: cover;
    max-width: 100vw;
    width: 98vw;
    height: 100vh !important;
    max-height: 100vh;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100vw;
        width: 98vw;
        height: 100vh !important;
        max-height: 100vh;
    }
    .left {
        background: #e8f0ff;
        display: flex;
        place-items: center;
        justify-content: center;
        text-align: center;
        margin-left: -50vw;
        height: 100% !important;
        min-height: 100%;
    }
    .left-admin {
      background: #e8f0ff;
      display: flex;
      place-items: center;
      justify-content: center;
      text-align: center;
      margin-left: -50vw;
      height: 100% !important;
      min-height: 100%;
  }
}

.left {
    background: #e8f0ff;
    display: flex;
    place-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -50vw;
    height: 100%;
    min-height: 100%;
}

.left-admin {
  background: #e8f0ff;
  display: flex;
  place-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -50vw;
  height: 100%;
  min-height: 100%;
}

.left h1 {
    color: white;
    font-size: 50px;
}

.left-admin h1 {
  color: white;
  font-size: 50px;
}

.left p {
    color: white;
    font-size: 20px;
}

.left-admin p {
  color: white;
  font-size: 20px;
}

.left a {
    border-radius: 25px;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px 50px;
    transition: background 1s;
    color: white;
}

.left-admin a {
  border-radius: 25px;
  border: 1px solid white;
  text-decoration: none;
  padding: 10px 50px;
  transition: background 1s;
  color: white;
}

.left a:hover {
    background: white;
    color: blue;
}

.left-admin a:hover {
  background: white;
  color: blue;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 3fr 1fr;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.img-logo {
    width: 204px;
    text-align: center;
}

.registration-form .form-icon {
    text-align: center;
    line-height: 75px;
}

.registration-form-2 .form-icon {
    text-align: center;
    line-height: 75px;
}

.registration-form {
    padding: 0;
}

.registration-form .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form-2 .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3f3f3f;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form-2 .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3f3f3f;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media {
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}
